.rules_container {
    opacity: 0;
}

@media print {
    body > div:first-child,
    .breadcrumb,
    .rules_search,
    .mobile-hide,
    .main_footer,
    a[title^="Next Chapter"],
    a::after,
    a::before,
    a[href*="kings-of-war-errata"],
    a[href*="kings-of-war-change-log"] {
        display: none !important;
    }

    .units-row {
        width: 100%;
    }
}